
.profile-img {
    display: flex;
    align-self: center;
    width: 200px;
    border-radius: 10px;
    box-shadow: var(--dark-box-shadow);
    margin: 0px 10px;
}

/* skill card */

div.skills-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

h1.section-label {
    text-align: center;
}

div.info {
    padding: 2em;
    max-width: 500px;
}

.hero-img {
    width: auto;
    background-image: url("../images/martin-katler-unsplash-heroimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    padding: 2em;
}

.page-content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, minmax(300px, 800px));
    gap: 2em;
    padding: 2em;
}

.page-content .about {
    margin-bottom: 5em;
}

.page-content p {
    font-size: 1.25em;
    padding: 1em;
}