:root {
    --primary-color: rgb(54, 86, 167);

    --dark-main-color: #272727;
    --dark-box-shadow: 0 2px 3px #1a1a1a;
    --dark-font-color: #d9d9d9;

    --light-main-color: #fff;
    --light-font-color: #303030;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--dark-main-color);
    color: var(--dark-font-color);
}

button#themeButton {
    border: 1px solid #256098;
    border-radius: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #387cbc;
    box-shadow: 1px 2px 3px #1a1a1a;
}
 
button#themeButton:hover {
    cursor: pointer;
}

.light {
    display: none;
}

/* navbar */

.nav-container {
    box-shadow: var(--dark-box-shadow);
    padding: 10px;
    border-radius: 10px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    list-style: none;
}

.nav-site-id {
    justify-self: start;
    margin-left: 1em;
}

.navbar a {
    text-decoration: none;
    color: var(--dark-font-color);
}

.navbar a.active {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.navbar a.nav-link:hover, .hamburger-menu:hover {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.hamburger-icon {
    width: 40px;
}

.dropdown-btn {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
}

.dropdown-link {
    display: none;
}

.dropdown-content {
    list-style: none;
}

/* navbar - mobile view */

@media only screen and (max-width: 500px) {
    .nav-link {
        display: none;
    }

    .navbar {
        grid-template-columns: repeat(5,auto);
    }

    /* nav dropdown */
    .dropdown-btn {
        display: flex;
    }

    .dropdown-btn:hover {
        background-color: var(--primary-color);
    }
    
    .dropdown-link:hover {
        background-color: var(--light-font-color);
        border-radius: 5px;
    }

    .dropdown-content {
        display: none;
    
        background-color: var(--dark-main-color);
        border: 1px solid var(--light-font-color);
        box-shadow: var(--dark-box-shadow);

        list-style: none;
        position: absolute;
        padding: 15px 15px;
    }

    .dropdown-link {
        display: block;
        padding: 10px 5px;
        margin: 5px 0px;
    }
}

/* end of navbar */

/* card */

.card {
    margin-top: 1em;
    background-color: var(--dark-main-color);
    border: 1px solid #393939;
    border-radius: 10px;
    padding: 15px;
    box-shadow: var(--dark-box-shadow);
}

div.info > .card-body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    text-align: center;
}

.profile-img {
    display: flex;
    align-self: center;
    width: 200px;
    border-radius: 10px;
    box-shadow: var(--dark-box-shadow);
    margin: 0px 10px;
}

.link-icon {
    width: 16px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: var(--dark-font-color);
    background-color: var(--dark-main-color);
    border: 1px solid #393939;
    border-radius: 15px;
    margin: 10px 1px;
    padding: 5px;
}

.card-link:hover {
    background-color: rgb(54, 86, 167);
}

/* skill card */

div.skills-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

h1.section-label {
    text-align: center;
}

/* end of skill card */

/* end of card */

/* resume */

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-main-color);
    border: 1px solid var(--light-font-color);
    box-shadow: var(--dark-box-shadow);
    border-radius: 10px;
    margin-top: 1em;
    padding: 10px;
    height: 600px;
}

.resume-pdf {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.download-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

a.download-btn {
    text-decoration: none;
    text-align: center;
    color: var(--dark-font-color);
    background-color: var(--primary-color);
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--dark-box-shadow);
}

.download-btn:hover {
    background-color: rgb(64, 103, 203);
}

.download-icon {
    width: 16px;
    margin-right: 5px;
}

/* end resume */

