:root {
    --primary-color: rgb(54, 86, 167);

    --dark-main-color: #272727;
    --dark-box-shadow: 0 2px 3px #1a1a1a;
    --dark-font-color: #d9d9d9;

    --light-main-color: #fff;
    --light-font-color: #303030;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--dark-main-color);
    color: var(--dark-font-color);
}

button#themeButton {
    border: 1px solid #256098;
    border-radius: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #387cbc;
    box-shadow: 1px 2px 3px #1a1a1a;
}
 
button#themeButton:hover {
    cursor: pointer;
}

.light {
    display: none;
}

/* navbar */

.nav-container {
    box-shadow: var(--dark-box-shadow);
    padding: 10px;
    border-radius: 10px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    list-style: none;
}

.nav-site-id {
    justify-self: start;
    margin-left: 1em;
}

.navbar a {
    text-decoration: none;
    color: var(--dark-font-color);
}

.navbar a.active {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.navbar a.nav-link:hover {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

/* navbar - mobile view */

@media only screen and (max-width: 500px) {

}

/* end of navbar */

/* bio card */

.card {
    margin-top: 1em;
    text-align: center;
    background-color: var(--dark-main-color);
    border: 1px solid #393939;
    border-radius: 10px;
    padding: 15px;
    box-shadow: var(--dark-box-shadow);
}

.card-body {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.profile-img {
    display: flex;
    align-self: center;
    width: 200px;
    border-radius: 10px;
    box-shadow: var(--dark-box-shadow);
    margin: 0px 10px;
}

.link-icon {
    width: 16px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: var(--dark-font-color);
    background-color: var(--dark-main-color);
    border: 1px solid #393939;
    border-radius: 15px;
    margin: 10px 1px;
    padding: 5px;
}

.card-link:hover {
    background-color: rgb(54, 86, 167);
}

/* end of bio card */
