:root {
    --primary-color: rgb(54, 86, 167);

    --dark-main-color: #272727;
    --dark-box-shadow: 0 2px 3px #1a1a1a;
    --dark-font-color: #d9d9d9;

    --light-main-color: #fff;
    --dark-secondary-color: #303030;

    --border: #393939;
}

body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--dark-main-color);
    color: var(--dark-font-color);
}

/* navbar */

.nav-container {
    /* box-shadow: var(--dark-box-shadow); */
    padding: 10px;
    border-radius: 10px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: var(--dark-font-color);
}

.navbar a.active {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.navbar a.nav-link:hover, .hamburger-menu:hover {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.hamburger-icon {
    width: 40px;
}

.dropdown-btn {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 5px;
}

.dropdown-link {
    display: none;
}

.dropdown-content {
    list-style: none;
}

/* navbar - mobile view */

@media only screen and (max-width: 500px) {
    .nav-link {
        display: none;
    }

    .navbar {
        grid-template-columns: repeat(5,auto);
    }

    /* nav dropdown */
    .dropdown-btn {
        display: flex;
    }

    .dropdown-btn:hover {
        background-color: var(--primary-color);
    }
    
    .dropdown-link:hover {
        background-color: var(--dark-secondary-color);
        border-radius: 5px;
    }

    .dropdown-content {
        display: none;
    
        background-color: var(--dark-main-color);
        border: 1px solid var(--dark-secondary-color);
        box-shadow: var(--dark-box-shadow);

        list-style: none;
        position: absolute;
        padding: 15px 15px;
    }

    .dropdown-link {
        display: block;
        padding: 10px 5px;
        margin: 5px 0px;
    }
}

/* end of navbar */

/* card */

.card {
    margin-top: 1em;
    background-color: var(--dark-main-color);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: var(--dark-box-shadow);
}

.card p {
    padding: 1em;
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    color: var(--dark-font-color);
    background-color: var(--dark-main-color);
    border: 1px solid #393939;
    border-radius: 1em;
    margin: 2em;
    padding: 0.5em;
}

#cardContainer .card-link {
    flex-direction: row-reverse;
}

.card-link:hover {
    background-color: rgb(54, 86, 167);
}

.card-img {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.link-icon {
    display: inline;
    width: 1.5em;
    margin-right: 0.5em;
}

/* end of card */